<script type="text/javascript">
$('ul.nav-pills li a').click(function (e) {
  $('ul.nav-pills li.active').removeClass('active')
  $(this).parent('li').addClass('active')
})
</script>
<div class="row" style="padding-right:15px; padding-left:15px">

<div class="col-md-3">

  <div class="panel panel-default">
    <div class="panel-body">
<%= form_tag root_path, :method => 'get' do %>
<div class="input-group">
    <%= text_field_tag :search, params[:search] , :class => 'form-control' %>
     <span class="input-group-btn">
    <%= submit_tag "search" , :name => nil , :class => 'btn btn-default' %>
  </span>
  </div>
<% end %>
<% if @searches.count != 0 %>
      <h4><b>Recent Searches:</b></h4>
      
      <ul class="nav nav-pills nav-stacked">
        <% @searches.each do |s| %>
        <li role="presentation"><%= link_to s.search_query, seach_res_path("surat") , :remote => 'true' %></li>

        <% end %> 
       
      </ul>
      <% else %> 
      <h4><b>No Recent Searches</b></h4>
      <% end %>
    </div>
  </div>
 
  </div>
  <div class="col-md-9">

  <div class="panel panel-default">
    <div class="panel-body" id="search_results">

    </div>
 
  

</div>
</div>
</div>
