
<!--<%= @data %>-->

<div class="col-md-11">

<div class="panel panel-default">
	<center><h3>Names of nearest bus stops</h3></center>
	<table class="table">

    <% @datas.each do |item| %>
		 <tr>

			<td><%= item['name'] %></td>
		<td><%= item['vicinity'] %></td>
		
		</tr>
	<%end%>
</table>
</div>
</div>

