 <div class="row" style="padding-right:15px; padding-left:15px">

 <div class="panel panel-default">
    <div class="panel-body">
    	<div class="col-md-6">
<%= link_to "Extreme Emergency FREE Police Call" , home_emergency_path , :method => 'post' , :class => 'btn btn-lg btn-block btn-danger' %>
</div>

<div class="col-md-6 offset-1">
<%= link_to "FREE Call to the nearest NGO" , home_ngo_path , :method => 'post' , :class => 'btn btn-lg btn-block btn-warning' %>
</div>
</div>
</div>
</div>